@font-face {
    font-family: "arvoo";
    src: url(../fonts/Arvo-Bold.ttf);
}

.navbar-toggler-icon {
    margin-bottom: 4px;
    background-color: black;
    color: black;
    display: block;
    width: 22px;
    height: 2px;
}